.inbox-chat {
    * {
        box-sizing: border-box;
    }
    body {
        background-color: #abd9e9;
        font-family: Arial;
    }
    #container {
        width: 750px;
        height: 800px;
        background: #eff3f7;
        margin: 0 auto;
        font-size: 0;
        border-radius: 5px;
        overflow: hidden;
    }
    aside {
        width: 260px;
        height: 800px;
        background-color: #3b3e49;
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
    }
    main {
        width: 490px;
        height: 800px;
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
    }

    aside header {
        padding: 30px 20px;
    }
    aside input {
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 50px 0 20px;
        background-color: #5e616a;
        border: none;
        border-radius: 3px;
        color: #fff;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
        background-repeat: no-repeat;
        background-position: 170px;
        background-size: 40px;
    }
    aside input::placeholder {
        color: #fff;
    }
    aside ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        overflow-y: scroll;
        height: 690px;
    }
    aside li {
        padding: 10px 0;
    }
    aside li:hover {
        background-color: #5e616a;
    }
    h2,
    h3 {
        margin: 0;
    }
    aside li img {
        border-radius: 50%;
        margin-left: 20px;
        margin-right: 8px;
    }
    aside li div {
        display: inline-block;
        vertical-align: top;
        margin-top: 12px;
    }
    aside li h2 {
        font-size: 14px;
        color: #fff;
        font-weight: normal;
        margin-bottom: 5px;
    }
    aside li h3 {
        font-size: 12px;
        color: #7e818a;
        font-weight: normal;
    }

    .status {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 7px;
    }
    .green {
        background-color: #58b666;
    }
    .orange {
        background-color: #ff725d;
    }
    .blue {
        background-color: #6fbced;
        margin-right: 0;
        margin-left: 7px;
    }

    main header {
        height: 110px;
        padding: 30px 20px 30px 40px;
    }
    main header > * {
        display: inline-block;
        vertical-align: top;
    }
    main header img:first-child {
        border-radius: 50%;
    }
    main header img:last-child {
        width: 24px;
        margin-top: 8px;
    }
    main header div {
        margin-left: 10px;
        margin-right: 145px;
    }
    main header h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    main header h3 {
        font-size: 14px;
        font-weight: normal;
        color: #7e818a;
    }

    #chat {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        overflow-y: scroll;
        height: 535px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    #chat li {
        padding: 10px 30px;
    }
    #chat h2,
    #chat h3 {
        display: inline-block;
        font-size: 13px;
        font-weight: normal;
    }
    #chat h3 {
        color: #bbb;
    }
    #chat .entete {
        margin-bottom: 5px;
    }
    #chat .message {
        padding: 20px;
        color: #fff;
        line-height: 25px;
        max-width: 90%;
        display: inline-block;
        text-align: left;
        border-radius: 5px;
    }
    #chat .me {
        text-align: right;
    }
    #chat .you .message {
        background-color: #58b666;
    }
    #chat .me .message {
        background-color: #6fbced;
    }
    #chat .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
    }
    #chat .you .triangle {
        border-color: transparent transparent #58b666 transparent;
        margin-left: 15px;
    }
    #chat .me .triangle {
        border-color: transparent transparent #6fbced transparent;
        margin-left: 375px;
    }

    main footer {
        height: 155px;
        padding: 20px 30px 10px 20px;
    }
    main footer input {
        resize: none;
        border: none;
        display: block;
        width: 100%;
        height: 80px;
        border-radius: 3px;
        padding: 20px;
        font-size: 13px;
        margin-bottom: 13px;
    }
    main footer input::placeholder {
        color: #ddd;
    }
    main footer img {
        height: 30px;
        cursor: pointer;
    }
    main footer a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #6fbced;
        vertical-align: top;
        margin-left: 333px;
        margin-top: 5px;
        display: inline-block;
    }
}
.float-chat-button {
    z-index: 3000;
    $base-height: 340px;
    $base-dimension: 16px;
    $base-border-radius: 12px;
    $base-button-size: 52px;
    $accent-color: #f6f7f9;
    $background-color: #fff;
    $font-color: #888;

    @mixin chabox-container {
        display: flex;
        position: fixed;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
        flex-direction: column;
    }

    @mixin chatbox-header {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: $base-dimension;
        color: $background-color;
        background-color: $primary;
        align-items: center;
        justify-content: space-around;
    }

    @mixin chatbox-main {
        box-sizing: border-box;
        width: 100%;
        padding: 10px #{$base-dimension};
        line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
        color: $font-color;
        text-align: center;
    }

    @mixin chatbox-footer {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: $base-dimension;
        border-top: 1px solid #ddd;
        align-items: center;
        justify-content: space-around;
    }

    @mixin chatbox-floating-button {
        position: fixed;
        bottom: 0;
        right: 0;
        width: $base-button-size;
        height: $base-button-size;
        color: $background-color;
        background-color: $primary;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
        border: 0;
        border-radius: 50%;
        cursor: pointer;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Lato", sans-serif;
        background-color: $accent-color;
    }

    h1 {
        margin: 0;
        font-size: $base-dimension;
        line-height: 1;
    }

    button {
        color: inherit;
        background-color: transparent;
        border: 0;
        outline: 0 !important;
        cursor: pointer;

        &.chatbox-open {
            @include chatbox-floating-button;
            margin: $base-dimension;
        }

        &.chatbox-close {
            @include chatbox-floating-button;
            margin: $base-dimension calc(2 * #{$base-dimension} + #{$base-button-size}) $base-dimension $base-dimension;
        }
    }

    input {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        height: calc(#{$base-dimension} + #{$base-dimension} / 2);
        padding: 0 calc(#{$base-dimension} / 2);
        font-family: inherit;
        font-size: $base-dimension;
        line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
        color: $font-color;
        background-color: none;
        border: 0;
        outline: 0 !important;
        resize: none;
        overflow: hidden;

        &::placeholder {
            color: $font-color;
        }
    }
    .send{
        color: #888
    }
    .chatbox-popup {
        main{
            overflow: auto;
        }
        @include chabox-container;
        z-index: 3000;
        bottom: calc(2 * #{$base-dimension} + #{$base-button-size});
        right: $base-dimension;
        width: calc(2 * 177px);
        height: 416px;
        background-color: $background-color;
        border-radius: $base-dimension;

        .chatbox-popup__header {
            @include chatbox-header;
            border-top-right-radius: $base-border-radius;
            border-top-left-radius: $base-border-radius;
            justify-content: start;

            .chatbox-popup__avatar {
                margin-top: -32px;
                background-color: $primary;
                border: 5px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
            }
        }

        .chatbox-popup__main {
            @include chatbox-main;
        }

        .chatbox-popup__footer {
            @include chatbox-footer;
            border-bottom-right-radius: $base-border-radius;
            border-bottom-left-radius: $base-border-radius;
        }
    }

    .chatbox-panel {
        @include chabox-container;
        display: none;
    z-index: 3000;
        top: 0;
        height: 500px;
        margin-top: auto;
        right: 0;
        bottom: 0;
        width: calc(2 * 177px);
        margin-right: 16px;
        background-color: $background-color;
        border-top-right-radius: $base-border-radius;
        border-top-left-radius: $base-border-radius;

        .chatbox-panel__header {
            @include chatbox-header;
            flex: 0 0 auto;
            border-top-right-radius: $base-border-radius;
            border-top-left-radius: $base-border-radius;
        }

        .chatbox-panel__main {
            @include chatbox-main;
            flex: 1 1 auto;
            height: 100px;
            overflow: auto;
            .message{
                max-width: 80%;
                &.my{
                    text-align: end;
                }
                &.other{
                    text-align: start;
                }
            }
        }

        .chatbox-panel__footer {
            @include chatbox-footer;
            flex: 0 0 auto;
        }
    }
}
